<div class="d-flex position-absolute w-100 h-100 mh-100 mw-100 justify-content-center">

  <div class="card w-75 m-auto border-0 text-center">
    <div class="d-flex flex-column">
      <img style="max-width: 100% !important; z-index: 99" [src]="landingLogoFilePath" class="rounded mx-auto d-block img-fluid" alt="Freedl Script Logo"><br><br>
    </div>
  </div>

  <div class="fixed-bottom footerActionCard">
    <div class="d-flex bd-highlight">
      <div class="flex-fill bd-highlight">
        <button  routerLink="/sign-up" type="button" class="primaryText btn btn-warning w-100 rounded-0" style="color: white">SIGN UP</button>
      </div>
      <div class="flex-fill bd-highlight">
        <button  routerLink="/login" type="button" class="primaryText btn btn-light w-100 rounded-0">LOGIN</button>
      </div>
    </div>
  </div>

</div>

<section class="pen">
  <div class="panel top">
  </div>
  <div class="panel bottom">
    <div class="scroll"></div>
  </div>
</section>
