<div class="d-flex position-absolute w-100 h-100 mh-100 mw-100 justify-content-center">
  <div class="fixed-top">
    <div class="d-flex flex-row">
        <div class="w-100">
          <h1 routerLink="/landing" class="primaryText text-center m-auto p-2 backActionIcon"><i class="fas fa-arrow-left"></i> Login</h1>
        </div>
        </div>
  </div>

  <div class="card w-75 m-auto border-0">
    <form>
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputGroupUsername">USERNAME</label>
        <div class="input-group floatingInput">
          <input (focus)="userIconToggleState()" (blur)="userIconToggleState()" type="text" style="border: none !important; box-shadow: none !important; padding-left: 0" class="primaryText form-control" id="inlineFormInputGroupUsername" placeholder="Username">
          <div class="input-group-prepend" style="border: none">
            <div class="input-group-text" style="border: none; background-color: transparent"><i class="fas fa-user" [@userIconToggle]="userIconToggledState"></i></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputGroupPassword">PASSWORD</label>
        <div class="input-group floatingInput">
          <input (focus)="passwordIconToggleState()" (blur)="passwordIconToggleState()" type="password" style="border: none !important; box-shadow: none !important; padding-left: 0" class="primaryText form-control" id="inlineFormInputGroupPassword" placeholder="Password">
          <div class="input-group-prepend" style="border: none">
            <div class="input-group-text" style="border: none; background-color: transparent" (click)="changePasswordVisibility()">
              <i class="fas fa-eye-slash" *ngIf="!passwordIsVisible" [@passwordIconToggle]="passwordIconToggledState"></i>
              <i class="fas fa-eye" *ngIf="passwordIsVisible" [@passwordIconToggle]="passwordIconToggledState"></i>
            </div>
          </div>
        </div>
        <div class="input-group">
          <small id="emailHelp" class="form-text text-muted">FORGOT PASSWORD?</small>
        </div>
      </div>
    </form>
  </div>

  <div class="fixed-bottom footerActionCard">
    <div class="d-flex bd-highlight">
      <div class="flex-fill bd-highlight" *ngIf="!isLoggingOn">
        <button  routerLink="/login" (click)="onLoginSubmit()" type="button" class="primaryText btn btn-warning w-100 rounded-0" style="color: white">LOGIN</button>
      </div>
      <div class="flex-fill bd-highlight" *ngIf="isLoggingOn">
        <button  routerLink="/login" (click)="isLoggingOn()" type="button" class="primaryText btn btn-warning w-100 rounded-0" style="color: white">LOGIN   <i class="fas fa-spinner fa-pulse"></i></button>
      </div>
      <div class="flex-fill bd-highlight" >
        <div class="d-flex bd-highlight">
          <button (click)="onLoginSubmit()" type="button" class="primaryText btn  w-100 rounded-0" style="color: white; background-color: #039be5"><i class="fab fa-facebook-f"></i></button>
          <button (click)="onLoginSubmit()" type="button" class="primaryText btn  w-100 rounded-0" style="color: white; background-color: #ff61c0"><i class="fab fa-google"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
